.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore R files
*.RDS
*.RData

# Ignore images
*.png
*.jpg
*.jpeg

# Ignore PDFs
*.pdf

# Ignore OLD files (case-insensitive)
*[Oo][Ll][Dd]*


# subsequent folders are not synced
/input/
/output/
